In [13]:
import pandas as pd
import numpy as np

# Calculation for RSI
 ### delta is the change in price relative to previous close and close is the current price closed.

In [25]:
data = pd.read_csv("datanep.csv")
delta = data['Close'].diff()
gain = delta.where(delta > 0, 0)
loss = -delta.where(delta < 0, 0)
avg_gain = gain.rolling(window=14).mean()
avg_loss = loss.rolling(window=14).mean()
rs = avg_gain / avg_loss
data['RSI'] = 100 - (100 / (1 + rs))
data['delta']= data['Close'].diff()
print(data[1110:])

            Date    Close Percent Change             Volume        RSI  delta
1110  11/10/2024  2738.06          2.33%   9,771,124,073.55  55.078290  62.55
1111  11/11/2024  2760.21          0.80%  11,315,207,127.09  52.427103  22.15
1112  11/12/2024  2748.96         -0.40%   7,859,740,798.91  50.492099 -11.25
1113  11/13/2024  2734.83         -0.51%   7,911,976,449.08  55.552548 -14.13
1114  11/14/2024  2748.78          0.51%  10,320,331,436.20  68.871784  13.95
1115  11/17/2024  2753.76          0.18%  11,726,756,904.61  66.438638   4.98
1116  11/19/2024  2702.65         -1.85%  10,468,320,521.90  59.600939 -51.11
1117  11/20/2024  2711.75          0.33%   7,092,879,946.39  64.635876   9.10
1118  11/21/2024  2680.44         -1.15%   8,257,643,886.83  60.041135 -31.31
1119  11/24/2024  2667.40         -0.48%   7,728,861,250.73  53.712938 -13.04
1120  11/25/2024  2683.24          0.59%   6,345,809,597.84  48.343674  15.84
1121  11/26/2024  2716.66          1.24%   7,449,898,987.89  56.850565  33.42
1122  11/27/2024  2755.47          1.42%   9,312,934,840.36  62.065342  38.81
1123  11/28/2024  2748.05         -0.30%   8,545,525,373.13  61.022306  -7.42
1124   12/1/2024  2738.06         -0.36%   8,832,225,892.82  50.000000  -9.99
1125   12/2/2024  2758.04          0.72%  10,541,746,564.07  49.604491  19.98
1126   12/3/2024  2775.85          0.64%   8,521,219,299.67  54.786571  17.81
1127   12/4/2024  2750.87         -0.89%   9,132,468,906.77  52.749023 -24.98
1128   12/5/2024  2734.93         -0.57%   8,369,687,402.72  47.642393 -15.94

# MACD calculation
### the ema lines are taken as standard 12 day and 26 days

In [15]:
data

            Date    Close Percent Change             Volume        RSI  delta
0      12/5/2019  1131.92          0.00%     358,839,860.00   0.000000    NaN
1      12/8/2019  1135.37          0.00%     287,527,825.00   0.000000   3.45
2      12/9/2019  1148.89          0.00%     464,220,392.00   0.000000  13.52
3     12/10/2019  1151.36          0.00%     500,328,915.00   0.000000   2.47
4     12/11/2019  1161.47          0.00%     551,377,852.00   0.000000  10.11
...          ...      ...            ...                ...        ...    ...
1124   12/1/2024  2738.06         -0.36%   8,832,225,892.82  50.000000  -9.99
1125   12/2/2024  2758.04          0.72%  10,541,746,564.07  49.604491  19.98
1126   12/3/2024  2775.85          0.64%   8,521,219,299.67  54.786571  17.81
1127   12/4/2024  2750.87         -0.89%   9,132,468,906.77  52.749023 -24.98
1128   12/5/2024  2734.93         -0.57%   8,369,687,402.72  47.642393 -15.94

[1129 rows x 6 columns]

In [27]:

data['ema12']= data['Close'].ewm(span= 12, adjust= False).mean()

data['ema26'] = data['Close'].ewm(span = 26, adjust = False).mean()

data['macd line'] = data['ema12'] - data['ema26']

data['signal line'] = data['macd line'].ewm(span = 9, adjust = False).mean()

data['macd histogram'] = data['macd line'] - data['signal line']



data

,Date,Close,Percent Change,Volume,RSI,delta,ema12,ema26,macd line,signal line,macd histogram
0,12/5/2019,1131.92,0.00%,"358,839,860.00",NaN,NaN,1131.920000,1131.920000,0.000000,0.000000,0.000000
1,12/8/2019,1135.37,0.00%,"287,527,825.00",NaN,3.45,1132.450769,1132.175556,0.275214,0.055043,0.220171
2,12/9/2019,1148.89,0.00%,"464,220,392.00",NaN,13.52,1134.979882,1133.413663,1.566219,0.357278,1.208941
3,12/10/2019,1151.36,0.00%,"500,328,915.00",NaN,2.47,1137.499900,1134.743021,2.756879,0.837198,1.919681
4,12/11/2019,1161.47,0.00%,"551,377,852.00",NaN,10.11,1141.187608,1136.722797,4.464810,1.562721,2.902090
...,...,...,...,...,...,...,...,...,...,...,...
1124,12/1/2024,2738.06,-0.36%,"8,832,225,892.82",50.000000,-9.99,2719.656075,2702.860748,16.795328,15.701709,1.093618
1125,12/2/2024,2758.04,0.72%,"10,541,746,564.07",49.604491,19.98,2725.561295,2706.948100,18.613195,16.284006,2.329188
1126,12/3/2024,2775.85,0.64%,"8,521,219,299.67",54.786571,17.81,2733.298019,2712.051944,21.246074,17.276420,3.969654
1127,12/4/2024,2750.87,-0.89%,"9,132,468,906.77",52.749023,-24.98,2736.001400,2714.927356,21.074044,18.035945,3.038100
1128,12/5/2024,2734.93,-0.57%,"8,369,687,402.72",47.642393,-15.94,2735.836569,2716.409033,19.427536,18.314263,1.113273